.customRegisterBtn {
  background-color: #255625;
  color: #fff;
  border: none;
  transition: background 0.2s;
}
.customRegisterBtn:hover,
.customRegisterBtn:focus {
  background-color: #214A21 !important;
  color: #fff !important;
}


